version: 2
jobs:
   build:
     docker:
       - image: circleci/python:3.5
     steps:
       - checkout
       - run:
          name: Install PyTest
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install pytest
       - run: echo "hello world"
       - run:
          name: PyTest run
          command: py.test